[Desktop Entry]
Name=FlowLauncher
GenericName=FlowLauncher
Comment=Launch AYON launcher applications from Flow
TryExec=/usr/bin/ayon
Exec=/usr/bin/ayon run /pipe/ayon/flow_launcher/flow_launcher.py %u
Icon=/pipe/ayon/release/current/common/ayon_common/resources/AYON.png
Terminal=false
Type=Application
MimeType=x-scheme-handler/flow-launcher;application/flow-launcher;
SingleMainWindow=false
Keywords=FlowLauncher;
Actions=Staging;

[Desktop Action Staging]
Name=FlowLauncher (staging)
Exec=/usr/bin/ayon --use-staging run /pipe/ayon/flow_launcher/flow_launcher.py %u
Icon=/pipe/ayon/release/current/common/ayon_common/resources/AYON_staging.png
